{% extends 'header.html' %}
{%load static%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  
 

    <div class="slide-one-item home-slider owl-carousel">
   
      <div class="site-blocks-cover inner-page-cover" style="background-image: url({% static 'images/bg_bridal.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">

            <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
              <h2 class="text-white font-weight-light mb-4 display-1 line-height-1">Bridal Mackup</h2>

              <p><a href="{% url 'book_appointment' %}" class="btn btn-black py-3 px-5">Book Now!</a></p>
            </div>
          </div>
        </div>
      </div>  

    </div>



    <div class="site-section">
      <div class="container">
        
        <div class="row">
          <div class="col-md-6 col-lg-4 text-center mb-4 mb-lg-5">
            <div class="h-100 bg-light site-block-feature-7">
              <img src="{% static 'images/Bridal 1 image.jpg' %}" alt="Image" class="img-fluid" style="height: 400px; width: 400px;">
             
            </div>
          </div>
          <div class="col-md-6 col-lg-4 text-center mb-4 mb-lg-5">
            <div class="h-100 bg-light site-block-feature-7">
              <img src="{% static 'images/Bridal 2 image.jpg' %}" alt="Image" class="img-fluid" style="height: 400px; width: 400px;">
             
            </div>
          </div>
          <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
            <div class="h-100 bg-light site-block-feature-7">
              <img src="{% static 'images/Bridal 3 image.jpg' %}" alt="Image" class="img-fluid" style="height: 400px; width: 400px;">
              
            </div>
          </div>

          <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
            <div class="h-100 bg-light site-block-feature-7">
              <img src="{% static 'images/Bridal 4.jpg' %}" alt="Image" class="img-fluid" style="height: 400px; width: 400px;">
              
            </div>
          </div>
          <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
            <div class="h-100 bg-light site-block-feature-7">
              <img src="{% static 'images/Bridal 5 image.jpg' %}" alt="Image" class="img-fluid" style="height: 400px; width: 400px;">
              
            </div>
          </div>
          <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
            <div class="h-100 bg-light site-block-feature-7">
              <img src="{% static 'images/Bridal 6 image.jpg' %}" alt="Image" class="img-fluid" style="height: 400px; width: 400px;">
              
            </div>
          </div>
          

        </div>
      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-3">
            
            <div class="sp-embed-player" data-id="cZjUFxVRI6o">
              <script src="https://go.screenpal.com/player/appearance/cZjUFxVRI6o"></script>
              <iframe width="100%" height="60%" style="border:0;" scrolling="no" src="https://go.screenpal.com/player/cZjUFxVRI6o?width=100%&height=60%&ff=1&title=0" allowfullscreen="true"></iframe>
            </div>
            

          </div>
          <div class="col-lg-6 bg-white p-md-3 align-self-right">
            <h2 class="display-1 text-black line-height-1 site-section-heading mb-4 pb-3"> Bridal before and after Mackup Look</h2>
        
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
            <h2 class="mb-4 text-black">We want your hair to look fabulous</h2>
            <p class="mb-0"><a href="https://www.instagram.com/reel/Cher0GdDGPN/?igsh=MXV0MHg2eWdybDRsMg==" class="btn btn-primary py-3 px-5 text-white">Visit Our Salon Now</a></p>
          </div>
        </div>
      </div>
    </div>


    
    
  </body>
</html>
{% endblock %}