{% extends 'header.html' %}
{%load static%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  
 

    <div class="slide-one-item home-slider owl-carousel">
   
      <div class="site-blocks-cover inner-page-cover" style="background-image: url({% static 'images/hero_bg_2.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">

            <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
              <h2 class="text-white font-weight-light mb-4 display-1 line-height-1">Hair Style &amp; Prices</h2>

              <p><a href="{% url 'book_appointment' %}" class="btn btn-black py-3 px-5">Book Now!</a></p>
            </div>
          </div>
        </div>
      </div>  

    </div>



    <div class="site-section">
      <div class="container">
        
        <div class="row">
          <div class="col-md-8 col-lg-6 text-center mb-5 mb-lg-5">
            <div class="h-100 bg-light site-block-feature-7">
              <img src="{% static 'images/img_1(1).jpg' %}" alt="Image" class="img-fluid" style="height: 300px; width: 300px;">
              <div class="p-4 p-lg-5">
                <h3 class="text-black h4">Hair Cut Style Rounded </h3>
                <p>If you’re looking for cute haircuts for women, try this! We sometimes prefer it to be perfectly symmetrical. Maintain a core section with the majority of the volume on the sides.</p>
                
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-6 text-center mb-5 mb-lg-5">
            <div class="h-100 bg-light site-block-feature-7">
              <img src="{% static 'images/imga_2.jpg' %}" alt="Image" class="img-fluid" style="height: 300px; width: 300px;">
              <div class="p-4 p-lg-5">
                <h3 class="text-black h4">Hair Cut Style Long Glamour Curls </h3>
                <p>Even thin hair can look fantastic with long glamour curls. Simply focus on the middle and ends of your hair while using a wide-barrel curling wand to achieve the look. Once finished, set the hairstyle with a volumizing hairspray. This style makes a gorgeous long length haircut for women.

                </p>
               
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-6 text-center mb-5 mb-lg-5">
            <div class="h-100 bg-light site-block-feature-7">
              <img src="{% static 'images/imga_3.jpg' %}" alt="Image" class="img-fluid" style="height: 300px; width: 300px;">
              <div class="p-4 p-lg-5">
                <h3 class="text-black h4">Hair Cut Style Side Swept Bangs</h3>
                <p>Think of short side-swept bangs as your go-to style for giving a basic cut personality. </p>
                
              </div>
            </div>
          </div>

          <div class="col-md-8 col-lg-6 text-center mb-5 mb-lg-5">
            <div class="h-100 bg-light site-block-feature-7">
              <img src="{% static 'images/imga_4.jpg' %}" alt="Image" class="img-fluid" style="height: 300px; width: 300px;">
              <div class="p-4 p-lg-5">
                <h3 class="text-black h4">Hair Cut Style Layers, Layers, Layers </h3>
                <p>There’s a reason why everyone loves layers! Almost everyone who wants some extra volume resorts to layers. The best part is that they will never fail us. And this is the reason why they’re timeless and not going anywhere. </p>
                
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-6 text-center mb-5 mb-lg-5">
            <div class="h-100 bg-light site-block-feature-7">
              <img src="{% static 'images/imga_5(1).jpg' %}" alt="Image" class="img-fluid" style="height: 300px; width: 300px;">
              <div class="p-4 p-lg-5">
                <h3 class="text-black h4">Hair Cut Style Sleek and Straight</h3>
                
                <p>This should be your go-to if you’re looking at professional haircuts for women. Straighten your hair using a blow dryer, then go over it with a flat iron. For incredibly smooth, frizz-free strands, finish with a smoothing serum.</p>
                
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-6 text-center mb-5 mb-lg-5">
            <div class="h-100 bg-light site-block-feature-7">
              <img src="{% static 'images/img_6.jpg' %}" alt="Image" class="img-fluid" style="height: 300px; width: 300px;">
              <div class="p-4 p-lg-5">
                <h3 class="text-black h4">Hair Cut Style Curls </h3>
                <p>Curl girls have not had the right tools and products to switch things up, but that’s changed now! If you want to achieve volume, you can ask your hairstylist to cut a lot of layers, This will prevent your hair and curls from being weighed down. </p>
                
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5">
            <img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-md-fluid">
          </div>
          <div class="col-lg-6 bg-white p-md-5 align-self-center">
            <h2 class="display-1 text-black line-height-1 site-section-heading mb-4 pb-3">New hairstyle!</h2>
            <h5><p class="text-black lead"><em>&ldquo;Poufy permed bangs? Nope! The type of fringe that is going to stand the test of time is the full bang. Sometimes called the Birkin bang, the key to getting this look right is to not make it look overly styled. That’s why it’s easy to achieve! We especially love and think it looks great when styled on long hair! &rdquo;</em></p></h5>
            <p class="lead text-black">&mdash; <em><h4>Hair Cut Style Full Bangs</h4> </em></p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
            <h2 class="mb-4 text-black">We want your hair to look fabulous</h2>
            <p class="mb-0"><a href="https://www.instagram.com/reel/Cher0GdDGPN/?igsh=MXV0MHg2eWdybDRsMg==" class="btn btn-primary py-3 px-5 text-white">Visit Our Salon Now</a></p>
          </div>
        </div>
      </div>
    </div>


    
    
  </body>
</html>
{% endblock %}