{% extends 'header.html' %}
{%load static%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  
  

   

    <div class="slide-one-item home-slider owl-carousel">
      
      <div class="site-blocks-cover" style="background-image: url({% static 'images\home-1.png' %});" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">

            <!-- <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
              <h5 class="text-white font-weight-light text-uppercase">Welcome to Online Bus-Pass system</h5>
              <h2 class="text-white font-weight-light mb-2 display-1">Hair Salon Expert</h2>

              <p><a href="{% url 'book_appointment' %}" class="btn btn-black py-3 px-5">Book Now!</a></p>
            </div> -->
          </div>
        </div>
      </div>  

      <div class="site-blocks-cover" style="background-image: url({% static 'images/home-2.png' %});" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container5
          <div class="row align-items-center justify-content-center text-center">

            <!-- <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
              <h2 class="text-white font-weight-light mb-2 display-1">Beautiful Hair, Healthy You!</h2>

              <p><a href="{% url 'book_appointment' %}" class="btn btn-black py-3 px-5">Book Now!</a></p>
            </div> -->
          </div>
        </div>
      </div>  

    </div>


    <div class="site-section">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-6 col-lg-4 text-center">
            <h3 class="line-height-1 mb-3"><span class="d-block display-4 line-height-1 text-black">Welcome to</span> <span class="d-block display-4 line-height-1"><em class="text-primary font-weight-bold">Buspass360</em></span></h3>
            <p>The Online GSRTC Bus Pass System is a web-based application designed to simplify the process of obtaining and managing bus passes for Gujarat State Road Transport Corporation (GSRTC) users. This system allows passengers to apply for new bus passes, renew existing ones, and make payments online, eliminating the need for in-person visits to GSRTC offices. With features like secure user authentication, real-time updates on bus schedules, and easy payment processing, the system enhances user convenience and operational efficiency. The project aims to modernize public transportation services in Gujarat, making them more accessible and user-friendly.</p>
            
          </div> -->
          <div class="col-md-6 col-lg-4"> 
            <figure class="h-100 hover-bg-enlarge">
              <div class="bg-image h-100 bg-image-md-height" style="background-image: url({% static 'images/i -8.jpg' %});"></div>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4 text-center">
            <h3 class="line-height-1 mb-3"><span class="d-block display-4 line-height-1 text-black">Welcome to</span> <span class="d-block display-4 line-height-1"><em class="text-primary font-weight-bold">Buspass360</em></span></h3>
            <p>The Online GSRTC Bus Pass System is a web-based application designed to simplify the process of obtaining and managing bus passes for Gujarat State Road Transport Corporation (GSRTC) users. This system allows passengers to apply for new bus passes, renew existing ones, and make payments online, eliminating the need for in-person visits to GSRTC offices. With features like secure user authentication, real-time updates on bus schedules, and easy payment processing, the system enhances user convenience and operational efficiency. The project aims to modernize public transportation services in Gujarat, making them more accessible and user-friendly.</p>
            
          </div>
          <div class="col-md-6 col-lg-4"> 
            <figure class="h-100 hover-bg-enlarge">
              <div class="bg-image h-100 bg-image-md-height" style="background-image: url({% static 'images/i -10.jpg' %});"></div>
            </figure>
          </div>
          <!-- <div class="col-md-6 col-lg-4">
            <div class="border p-4 d-flex align-items-center justify-content-center h-100">
              <div class="text-center">
                <h2 class="text-primary h2 mb-5">Types of Pass</h2>
                <h6><p class="mb-4">
                  <span class="d-block font-weight-bold">Student Pass :- </span>
                  <br>
                  1 - 12 Student<br>
                  Collge Student<br>
                </p>
                </h6>

                <h6><p class="mb-4">
                  <span class="d-block font-weight-bold">Pasanger Pass</span>
                  <br>
                
                </p></h6>

                <h6><p class="mb-4">
                  <span class="d-block font-weight-bold">Employees Pass</span>
                  <br>
                  
                </p></h6>
              </div>
            </div>
          </div> -->
          
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7">
            <h2 class="site-section-heading font-weight-light text-black text-center">Services</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
            <div class="h-100 bg-light site-block-feature-7">
              <img src="{% static 'images/i -6.png' %}" alt="Image" class="img-fluid" style="height: 300px; width: 300px;">
              <div class="p-4 p-lg-5">
              <!--
              <span class="icon flaticon-razor display-3 text-primary mb-4 d-block"></span>#image nikadva
              -->
                <h3 class="text-black h4">Accessing Your Bus Pass Information</h3>
                <h6><em><p>You can Access your Bus pass Information </p></em></h6>
              <!--
              <p><strong class="font-weight-bold text-primary">$29</strong></p>
              -->
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
            <div class="h-100 bg-light site-block-feature-7">
              <img src="{% static 'images/i -5.png' %}" alt="Image" class="img-fluid" style="height: 300px; width: 300px;">
              <div class="p-4 p-lg-5">
                <h3 class="text-black h4">Purchase Bus Pass</h3>
                <h6><em><p>You can Select Types of pass,fill up details,Make payment and get Buspass</p></em></h6>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
            <div class="h-100 bg-light site-block-feature-7">
              <img src="{% static 'images/i -3.png' %}" alt="Image" class="img-fluid" style="height: 300px; width: 300px;">
              <div class="p-4 p-lg-5">
                <h3 class="text-black h4">Customer Support</h3>
                <h6><em><p>actively listening to customers, understanding their needs, and empathizing with their frustrations</p></em></h6>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5">
            <img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-md-fluid">
          </div>
          <div class="col-lg-6 bg-white p-md-5 align-self-center">
            <h2 class="display-1 text-black line-height-1 site-section-heading mb-4 pb-3">New hairstyle!</h2>
            <h5><p class="text-black lead"><em>&ldquo;Poufy permed bangs? Nope! The type of fringe that is going to stand the test of time is the full bang. Sometimes called the Birkin bang, the key to getting this look right is to not make it look overly styled. That’s why it’s easy to achieve! We especially love and think it looks great when styled on long hair!&rdquo;</em></p></h5>
            <p class="lead text-black">&mdash; <em><h4>Full Bangs</h4></em></p>
          </div>
        </div>
      </div>
    </div> -->


    <div class="site-blocks-cover overlay inner-page-cover" style="background-image: url({% static 'images/home-1.png' %}); background-attachment: fixed;">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <!-- <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
            <h2 class="text-white font-weight-light mb-5 display-3">Experience Our Outstanding Services</h2>
            <a href="https://www.instagram.com/reel/C524KMmosp2/?igsh=aHA0c3VkejkxaDlo" class="btn btn-primary py-3 px-5 text-white">Services</a>
            
          </div> -->
        </div>
      </div>
    </div>  

    
    
  </body>
</html>

{% endblock %}